<div class="md-padding">
    <div ng-if="vm.UserObjService.getIsLogin()">
        <h1>Hello {{vm.UserObjService.getUser().firstName}}, welcome back</h1>
        <p>Enjoy your time here!</p>
        <div class="image-container">
            <img src="../../Assets/images/home-in.png" class="image-responsive" alt="Welcome back Image">
        </div>
    </div>

    <div ng-if="!vm.UserObjService.getIsLogin()">
        <h1>Hi, first time here?</h1>
        <p>Please <a href="#!account/login">login</a> or <a href="#!account/signup">signup</a> for getting more info
        </p>
        <div class="image-container">
            <img src="../../Assets/images/home-out.png" class="image-responsive" alt="Hello Image">
        </div>
    </div>
</div>